.timer {
  display: flex;
  justify-content: center;  
  color: white;  
}
.value {
        font-size: 50px;
  background: black;
  padding: 15px;
  
      }
      .label {
        font-size: 20px;
        text-align: center;
        background: grey;
      }
.field {
  display: flex;
  flex-direction: column; 
}
